<div class="card">
<h4 class="card-header">{{windowTitle}}</h4>
<div class="card-body">

<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" (reset)="onReset()"><div class="row" *ngIf="viewState === 'creationEditMode' || viewState === 'detailsMode'">
    <div class="form-group col-md-6">
        <label>Type d'absence</label>
        <select name="absenceTypeEnum" #absenceTypeEnum="ngModel" [(ngModel)]="formData.absenceTypeEnum" class="form-control"
          [class.is-invalid]="formData.absenceTypeEnum === -1">
          <option value="-1">-Select-</option>
          <option [value]="item.id" *ngFor="let item of allEnums.AbsenceTypeEnum">{{item.name}}</option>
        </select>
    </div>
  
    <div class="form-group col-md-6">
          <label>Date de début</label>
          <input name="startDate" type="date" #startDate="ngModel" [(ngModel)]="formData.startDate" class="form-control">
        </div>
  
    <div class="form-group col-md-6">
        <label>Moment de début</label>
        <select name="startPartOfDay" #startPartOfDay="ngModel" [(ngModel)]="formData.startPartOfDay" class="form-control"
          [class.is-invalid]="formData.startPartOfDay === -1">
          <option value="-1">-Select-</option>
          <option [value]="item.id" *ngFor="let item of allEnums.PartOfDayEnum">{{item.name}}</option>
        </select>
    </div>
  
    <div class="form-group col-md-6">
          <label>Date de fin</label>
          <input name="endDate" type="date" #endDate="ngModel" [(ngModel)]="formData.endDate" class="form-control">
        </div>
  
    <div class="form-group col-md-6">
        <label>Moment de fin</label>
        <select name="endPartOfDay" #endPartOfDay="ngModel" [(ngModel)]="formData.endPartOfDay" class="form-control"
          [class.is-invalid]="formData.endPartOfDay === -1">
          <option value="-1">-Select-</option>
          <option [value]="item.id" *ngFor="let item of allEnums.PartOfDayEnum">{{item.name}}</option>
        </select>
    </div>
  
    <div class="form-group col-md-6">
        <label>Etat</label>
        <select name="validationStatus" #validationStatus="ngModel" [(ngModel)]="formData.validationStatus" class="form-control"
          [class.is-invalid]="formData.validationStatus === -1">
          <option value="-1">-Select-</option>
          <option [value]="item.id" *ngFor="let item of allEnums.ValidationStatus">{{item.name}}</option>
        </select>
    </div>
  
    <div class="form-group col-md-6">
          <label>Commentaire employé</label>
          <textarea  rows="4" cols="50" name="requesterComment" #requesterComment="ngModel" [(ngModel)]="formData.requesterComment" class="form-control"></textarea>
	</div>
  
    <div class="form-group col-md-6">
          <label>Commentaire manager</label>
          <textarea  rows="4" cols="50" name="managerComment" #managerComment="ngModel" [(ngModel)]="formData.managerComment" class="form-control"></textarea>
	</div>
  </div>
    <div class="table-responsive">
    <table class="table table-borderless table-hover" *ngIf="viewState === 'tableMode'">
    <thead class="thead-dark">
      <th>Type d'absence</th><th>Date de début</th><th>Moment de début</th><th>Date de fin</th><th>Moment de fin</th><th>Etat</th>
      <th>
        <a class="btn btn-sm btn-success text-white" (click)="onAddOrEditItem(null, formData.absenceId)"><i class="fa fa-plus"></i>Add Item</a>
      </th>
    </thead>
    <tbody>
      <tr *ngIf="absenceList === undefined" [class.text-danger]="absenceList === undefined">
        <td class="font-italic text-center" colspan="5">
          No item text.
        </td>
      </tr>

      <tr *ngFor="let item of absenceList;let i=index;"  (click)="onShowDetails(i)">
        <td>{{allEnums.AbsenceTypeEnum[absenceList[i].absenceTypeEnum].name}}</td><td>{{item.startDate}}</td><td>{{allEnums.PartOfDayEnum[absenceList[i].startPartOfDay].name}}</td><td>{{item.endDate}}</td><td>{{allEnums.PartOfDayEnum[absenceList[i].endPartOfDay].name}}</td><td>{{allEnums.ValidationStatus[absenceList[i].validationStatus].name}}</td>
        <td *ngIf="item.isEditable">
          <a class="btn btn-sm btn-info text-white" (click)="onAddOrEditItem(i, formData.absenceId)"><i class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteItem(item.absenceId,i)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  
    <div class="form-group">
        <button *ngIf="viewState === 'creationEditMode'" type="submit" class="btn btn-dark"><i class="fa fa-database"></i>Submit</button>
        <button *ngIf="viewState === 'creationEditMode' || viewState === 'detailsMode'" type="reset" class="btn btn-outline-dark ml-1"><i class="fa fa-close"></i>Close</button>
      </div>
  </form>
</div>
</div>