<div class="card">
<h4 class="card-header">{{windowTitle}}</h4>
<div class="card-body">
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" (reset)="onReset()"><div class="row" *ngIf="viewState === 'creationMode' || viewState === 'editMode' || viewState === 'detailsMode'">
    <div class="form-group col-md-6">
          <label>Départment</label>
          <input name="departmentName" #departmentName="ngModel" [(ngModel)]="formData.departmentName" class="form-control">
	</div>
  
    <div class="form-group col-md-6">
          <label>Chef de dépt</label>
          <input name="deptChiefId" #deptChiefId="ngModel" [(ngModel)]="formData.deptChiefId" class="form-control">
	</div>
  </div>
    <div class="table-responsive">
    <table class="table table-borderless table-hover" *ngIf="viewState === 'tableMode'">
    <thead class="thead-dark">
      <th>Départment</th><th>Chef de dépt</th>
      <th>
        <a class="btn btn-sm btn-success text-white" (click)="onAddOrEditItem(null, formData.departmentId)"><i class="fa fa-plus"></i>Add Item</a>
      </th>
    </thead>
    <tbody>
      <tr *ngIf="departmentList === undefined" [class.text-danger]="departmentList === undefined">
        <td class="font-italic text-center" colspan="5">
          No item text.
        </td>
      </tr>

      <tr *ngFor="let item of departmentList;let i=index;"  (click)="onShowDetails(i)">
        <td>{{item.departmentName}}</td><td>{{item.deptChiefId}}</td>
        <td *ngIf="item.isEditable">
          <a class="btn btn-sm btn-info text-white" (click)="onAddOrEditItem(i, formData.departmentId)"><i class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteItem(item.departmentId,i)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  
    <div class="form-group">
        <button *ngIf="viewState === 'creationMode' || viewState === 'editMode'" type="submit" class="btn btn-dark"><i class="fa fa-database"></i>Submit</button>
        <button *ngIf="viewState === 'creationMode' || viewState === 'editMode' || viewState === 'detailsMode'" type="reset" class="btn btn-outline-dark ml-1"><i class="fa fa-close"></i>Close</button>
      </div>
  </form></div></div>