<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Récupération de mot de passe</h4>
        <div class="card-body">
            <form [formGroup]="lostpwdForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Adresse email requise</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Envoyer
                </button>
            </form>
            <div class="float-right"><a href="login">Connexion</a></div>
        </div>
    </div>
</div>            