<div class="card">
<h4 class="card-header">{{windowTitle}}</h4>
<div class="card-body">
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" (reset)="onReset()"><div class="row" *ngIf="viewState === 'creationEditMode' || viewState === 'detailsMode'">
    <div class="form-group col-md-6">
          <label>Prénom</label>
          <input name="firstName" #firstName="ngModel" [(ngModel)]="formData.firstName" class="form-control">
	</div>
  
    <div class="form-group col-md-6">
          <label>Nom</label>
          <input name="lastName" #lastName="ngModel" [(ngModel)]="formData.lastName" class="form-control">
	</div>
  
    <div class="form-group col-md-6">
          <label>managerId</label>
          <input name="managerId" #managerId="ngModel" [(ngModel)]="formData.managerId" class="form-control">
	</div>
  
    <div class="form-group col-md-6">
          <label>departmentId</label>
          <input name="departmentId" type="number" #departmentId="ngModel" [(ngModel)]="formData.departmentId" class="form-control">
        </div>
  </div>
    <div class="table-responsive">
    <table class="table table-borderless table-hover" *ngIf="viewState === 'tableMode'">
    <thead class="thead-dark">
      <th>Prénom</th><th>Nom</th>
      <th>
        <a class="btn btn-sm btn-success text-white" (click)="onAddOrEditItem(null, formData.userId)"><i class="fa fa-plus"></i>Add Item</a>
      </th>
    </thead>
    <tbody>
      <tr *ngIf="userList === undefined" [class.text-danger]="userList === undefined">
        <td class="font-italic text-center" colspan="5">
          No item text.
        </td>
      </tr>

      <tr *ngFor="let item of userList;let i=index;"  (click)="onShowDetails(i)">
        <td>{{item.firstName}}</td><td>{{item.lastName}}</td>
        <td *ngIf="item.isEditable">
          <a class="btn btn-sm btn-info text-white" (click)="onAddOrEditItem(i, formData.userId)"><i class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteItem(item.userId,i)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  
    <div class="form-group">
        <button *ngIf="viewState === 'creationEditMode'" type="submit" class="btn btn-dark"><i class="fa fa-database"></i>Submit</button>
        <button *ngIf="viewState === 'creationEditMode' || viewState === 'detailsMode'" type="reset" class="btn btn-outline-dark ml-1"><i class="fa fa-close"></i>Close</button>
      </div>
  </form></div></div>